@import
url('http://fonts.googleapis.com/css?family=Amarante');


body {
	font-family: Helvetica;
	text-align: center;
}


/*ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 50%;
	background-color: #f34541;

}

li {
	display: block;
	padding: 50px;
}
*/
.col-xs-6 {
	padding: 90px;
}

.radio {
	margin: 0 !important;

}

input {
	visibility: hidden;
}

label, input {
	display: block;
	cursor: pointer;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-size: 40px;
}

#choice1 {
	background-color: #EF476F;
}


#choice2 {
	background-color: #F79256;
}
 
#choice3 {
	background-color: #128691;
}

#choice4 {
	background-color: #F7D24C;
}

#choice5 {
	background-color: #316B9E;
}

#Submit {
	background-color: #CCCCCC;

}

#submitbutton {
	background: none;
	border: none;
	font-size: 40px;
}

